header{
    div{
        .logo1{
            display: flex;
            justify-content: center;
            }
            .logo{
                width: 30rem;
                padding: 1rem;
                
            }
        }
    nav{
        font-size: 1rem;
    }
}