@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap');

.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    h1{
        position: relative;
        font-size: 2rem;
        color: #ffffff;
        top: 10rem;   
        left: 20rem;
    }
.gridCont{
    display: grid;
    grid-template-areas: 
    "item1 itemXbox"
    "item2 itemNin";
    gap: 40px;
    padding:5px;
}
.gridCont>div{
    display: flex;
    justify-content: center;
}

#nOled{
    width: 18rem;
}
.xb{
    width: 20rem;
}
.texto{
    text-align: justify;
}

@media only screen and (min-width: 320px) and 
(max-width: 500px){
    .barra{
        flex-direction: row;
        width:31rem;
    }
    .logo{
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .gridCont{
        display: none;
    }
} 
@media only screen and (min-width: 500px) and 
(max-width: 1000px){
    .barra{
        font-size: 1.5rem;
    }
    .preg{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto{
        font-size: 1.5rem;
    }
    .texto2{
        font-size: 1.5rem;
        text-align: justify;
    }

} 
